.menu{
  text-align: right;
  font-size: 50%;
}

.space{
  margin-top: 150px;
}

.red{
  color: red;
}

.yellow{
  color: goldenrod;
}

.bb{
  background-color: blue;
  color: white;
  font-size: 24px;
  width: 500px;
  height: 150px;
}

h1{
  border-bottom: double 5px aquamarine;
}

.resizeimage img { width: 100%; }
