.menu{
  text-align: right;
  font-size: 50%;
}

.space{
  margin-top: 20px;
}

.bspace{
  margin-top: 150px;
}

.box1{
  text-align: right;
  position: relative;
  background-color: aquamarine;
  width: 200px;
  height: 150px;
}

.box2{
  text-align: right;
  position: absolute;
  background-color: azure;
  width: 100px;
  height: 80ox;
  top: 60px;
  left: 50px;
}

.clear{
  color: gold;
  font-weight: bold;
}
